/* 
    Created on : 2012-04-19, 17:55:56
    Author     : Bart Tyrant
    Description:
        Flash messages styling, common for front and backend
*/

root { 
    display: block;
}

div.flashMessage{
    position:fixed;
    height: 64px;
    width:100%;
    left:0;
    top:0;
    border-radius:0 0 5px 5px;
    opacity:0.92;
    z-index: 10000;
    cursor:pointer;
}

div.flashMessage > p.flashMessageContent{
    font:22px Arial,Helvetica,sans-serif;
    font-weight:bold;
    text-align:center;
    padding-top:20px;  
    color:#000
}

div.flashMessage.error{
    background-color: #c82f2f;
}

div.flashMessage.info{
    background-color:#6aa4c7;
}

div.flashMessage.warning{
    background-color:#eaea46;
}

div.flashMessage.success{
    background-color: #64d441;
}





